@import "./Variables.css";

@font-face {
    font-family: "Orange Avenue";
    src: url("../fonts/OrangeAvenueDemo-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Poppins",sans-serif;

    background:var(--background);

    color:var(--text);

    overflow-x:hidden;

}

section{

    padding:100px 0;

}

img{

    max-width:100%;

    display:block;

}

a{

    text-decoration:none;

    transition:var(--transition);

}

/* Common Headings */

.section-subtitle{

    color:var(--secondary);

    font-size:.95rem;

    font-weight:600;

    letter-spacing:4px;

    text-transform:uppercase;

}

.section-title{

    color:var(--primary);

    font-size:2.8rem;

    font-weight:700;

    margin:12px 0;

}

.section-description{

    color:var(--text-light);

    max-width:650px;

    margin:auto;

}

/* Reusable Card */

.custom-card{

    background:var(--surface);

    border-radius:var(--radius);

    box-shadow:var(--shadow);

    transition:var(--transition);

}

.custom-card:hover{

    transform:translateY(-8px);

}